TP_1_JO_2016/public_html/tableau.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT tableau (ligne*)>
<!ELEMENT ligne (pays,medaille*,totalMedaille?)>
<!ELEMENT medaille (#PCDATA)>
<!ELEMENT totalMedaille (#PCDATA)>
<!ELEMENT pays EMPTY>

<!ATTLIST pays nomDePays (USA | Grande-Bretagne | Chine | Russie | Allemagne | Japon | France | CoréeDuSud | Italie | Australie )> 
<!ATTLIST medaille typeDeMedaille (or | argent | bronze) #REQUIRED>


